<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.keepass"
      android:installLocation="auto" android:versionName="1.7" android:versionCode="55">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
	<supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
    />
    <application android:label="@string/app_name" android:icon="@drawable/launcher" android:name="com.keepassdroid.app.App">
        <activity android:name=".KeePass"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name="com.keepassdroid.fileselect.FileSelectActivity" android:configChanges="orientation|keyboardHidden"></activity>
    	<activity android:name="com.keepassdroid.PasswordActivity" android:configChanges="orientation|keyboardHidden">
    		<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="file" />
			    <data android:mimeType="*/*" />
			    <data android:host="*" />
			    <data android:pathPattern=".*\\.kdb" />
    		</intent-filter>
    		<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="file" />
			    <data android:mimeType="*/*" />
			    <data android:host="*" />
			    <data android:pathPattern=".*\\.kdbx" />
    		</intent-filter>
    	</activity>
    	<activity android:name="com.keepassdroid.GroupActivityV3" android:configChanges="orientation|keyboardHidden">
            <!-- This metadata entry causes .app.SearchQueryResults to be the default context -->
            <!-- whenever the user invokes search while in this Activity. -->
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.keepassdroid.search.SearchResults" />
    	</activity>
    	<activity android:name="com.keepassdroid.GroupActivityV4" android:configChanges="orientation|keyboardHidden">
            <!-- This metadata entry causes .app.SearchQueryResults to be the default context -->
            <!-- whenever the user invokes search while in this Activity. -->
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.keepassdroid.search.SearchResults" />
    	</activity>
		<activity android:name="com.keepassdroid.EntryActivity"></activity>
		<activity android:name="com.keepassdroid.EntryActivityV4"></activity>
		<activity android:name="com.keepassdroid.LockingActivity"></activity>
		<activity android:name="com.keepassdroid.EntryEditActivity" android:configChanges="orientation|keyboardHidden"></activity>
		<activity android:name="com.keepassdroid.GroupEditActivity" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name="com.keepassdroid.IconPickerActivity"></activity>
		<activity android:name="com.keepassdroid.search.SearchResults" android:launchMode="standard">
		    <intent-filter>
			    <action android:name="android.intent.action.SEARCH" />
			    <category android:name="android.intent.category.DEFAULT" />
		     </intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<activity android:name="com.keepassdroid.settings.AppSettingsActivity"></activity>
		<service android:name="com.keepassdroid.services.TimeoutService"></service>
		<meta-data android:name="com.a0soft.gphone.aTrackDog.webURL" android:value="http://keepassdroid.com" />
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 