<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunzisoft.magikeyboard" >
    <application>
        <service
            android:name="com.kunzisoft.magikeyboard.MagikIME"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <meta-data android:name="android.view.im"
                android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
        <activity android:name="com.kunzisoft.magikeyboard.MagikIMESettings"
            android:label="@string/keyboard_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>