aes_amd64.asm
aescpp.h
aescrypt.c
aes.h
aeskey.c
aes_modes.c
aesopt.h
aestab.c
aestab.h
aes.txt
aes_via_ace.h
aes_x86_v1.asm
aes_x86_v2.asm
aesxam.c
brg_endian.h
brg_types.h
rfc3686.c
tablegen.c
vbaxam.doc
vb.txt
via_ace.txt
