<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Open apps from links -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <queries>
        <intent>
            <action android:name="android.intent.action.CREATE_DOCUMENT" />
            <data android:mimeType="application/octet-stream" />
        </intent>
    </queries>

    <application
        android:name="com.kunzisoft.keepass.app.App"
        android:allowBackup="true"
        android:backupAgent="com.kunzisoft.keepass.backup.SettingsBackupAgent"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/old_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/KeepassDXStyle.Night"
        tools:targetApi="s">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="${googleAndroidBackupAPIKey}" />

        <activity
            android:name="com.kunzisoft.keepass.activities.FileDatabaseSelectActivity"
            android:configChanges="keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kunzisoft.keepass.activities.MainCredentialActivity"
            android:configChanges="keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.kdb" />
                <data android:pathPattern=".*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-kdb" />
                <data android:mimeType="application/x-kdbx" />
                <data android:mimeType="application/x-keepass" />
                <data android:host="*" />
                <data android:pathPattern=".*" />
                <data android:pathPattern=".*\\.*" />
                <data android:pathPattern=".*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.*" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name="com.kunzisoft.keepass.activities.GroupActivity"
            android:configChanges="keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.default_searchable"
                android:exported="false"
                android:value="com.kunzisoft.keepass.search.SearchResults" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.kunzisoft.keepass.activities.EntryActivity"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.kunzisoft.keepass.activities.IconPickerActivity"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.kunzisoft.keepass.activities.KeyGeneratorActivity"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.kunzisoft.keepass.activities.ImageViewerActivity"
            android:configChanges="keyboardHidden" />
        <activity
            android:name="com.kunzisoft.keepass.activities.EntryEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <!-- About and Settings -->
        <activity
            android:name="com.kunzisoft.keepass.activities.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTask" />
        <activity android:name="com.kunzisoft.keepass.settings.SettingsActivity" />
        <activity
            android:name="com.kunzisoft.keepass.activities.AutofillLauncherActivity"
            android:configChanges="keyboardHidden"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="com.kunzisoft.keepass.settings.AdvancedUnlockSettingsActivity" />
        <activity android:name="com.kunzisoft.keepass.settings.AutofillSettingsActivity" />
        <activity android:name="com.kunzisoft.keepass.settings.AppearanceSettingsActivity" />
        <activity
            android:name="com.kunzisoft.keepass.hardware.HardwareKeyActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.kunzisoft.keepass.activities.EntrySelectionLauncherActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="otpauth" />
                <data android:host="totp" />
                <data android:host="hotp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kunzisoft.keepass.settings.MagikeyboardSettingsActivity"
            android:exported="true"
            android:label="@string/keyboard_setting_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.kunzisoft.keepass.services.DatabaseTaskNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name="com.kunzisoft.keepass.services.AttachmentFileNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name="com.kunzisoft.keepass.services.ClipboardEntryNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name="com.kunzisoft.keepass.services.AdvancedUnlockNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <!-- Receiver for Autofill -->
        <service
            android:name="com.kunzisoft.keepass.autofill.KeeAutofillService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/autofill_service_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/dataset_service" />
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
        <service
            android:name="com.kunzisoft.keepass.magikeyboard.MagikeyboardService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/keyboard_label"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/keyboard_method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
        <service
            android:name="com.kunzisoft.keepass.services.KeyboardEntryNotificationService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.kunzisoft.keepass.receivers.DexModeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.ENTER_KNOX_DESKTOP_MODE" />
                <action android:name="android.app.action.EXIT_KNOX_DESKTOP_MODE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
    </application>
</manifest> 
