<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.kunzisoft.keepass"
      android:installLocation="auto">
    <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="com.keepassdroid.app.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:backupAgent="com.keepassdroid.backup.SettingsBackupAgent"
        android:theme="@style/KeepassDXStyle.Light">
        <!-- TODO backup API Key -->
        <meta-data android:name="com.google.android.backup.api_key"
          android:value="" />
        <activity android:name=".KeePass"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.keepassdroid.fileselect.FileSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.keepassdroid.AboutActivity"
            android:label="@string/menu_about" />
        <activity android:name="com.keepassdroid.PasswordActivity" android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.kdb" />
                <data android:pathPattern=".*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdb" />
                <data android:pathPattern=".*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.kdbx" />
            </intent-filter>
        </activity>
        <activity android:name="com.keepassdroid.GroupActivityV3" android:configChanges="orientation|keyboardHidden">
            <!-- This metadata entry causes .app.SearchQueryResults to be the default context -->
            <!-- whenever the user invokes search while in this Activity. -->
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.keepassdroid.search.SearchResults" />
        </activity>
        <activity android:name="com.keepassdroid.GroupActivityV4" android:configChanges="orientation|keyboardHidden">
            <!-- This metadata entry causes .app.SearchQueryResults to be the default context -->
            <!-- whenever the user invokes search while in this Activity. -->
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.keepassdroid.search.SearchResults"
                       android:exported="false" />
        </activity>
        <activity
            android:name="com.keepassdroid.EntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.keepassdroid.EntryActivityV4"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.keepassdroid.EntryEditActivityV3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.keepassdroid.EntryEditActivityV4"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.keepassdroid.search.SearchResultsActivity" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.keepassdroid.settings.SettingsActivity" />
        <activity android:name="com.keepassdroid.AutoFillAuthActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.keepassdroid.settings.SettingsAutofillActivity"
            android:exported="true">
        </activity>

        <service android:name="com.keepassdroid.services.TimeoutService" />
        <service
            android:name="com.keepassdroid.autofill.KeeAutofillService"
            android:label="@string/autofill_service_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/dataset_service" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
    </application>
</manifest> 